body{
    margin:0;
    touch-action: manipulation;
}

#game{
    position:absolute;
    left:0;
    top:0;
    widows: 100%;
    height:100%;
}

/*この・・/は上のディレクトリをさす*/


#game .screen{
    position:absolute;
    width: 100%;
    height:100%;
    display:none;
    z-index:10 ; 
    /*z-indexってなんだろう？*/
}

#game .screen.active{
    display:block;
}

/*screenクラスのdivはdisplayプロパティにnoneをセット、画面をデフォで消して
表示したいときだけだせる、screenのクラスがactiveになるとdisplayプロパティは
blockになる。blockのつかいかたは？*/

/*.pixelated {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
  }*/