body{
    margin:0;
    touch-action: manipulation;
    background-color:black;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    
}

#settings{
    display:none;
    margin-top:10%;
    margin-bottom:10%;
}

p{
    font-family: 'DotGothic16', sans-serif;
    color:aliceblue;
    display: flex;
}

.settings_title{
        font-weight: bold;
        border: solid 1px white;
        border-radius: 2px;
        padding: 5px;
        margin: 2px 2px 2px 2px;
    text-align: center;
}

#mute{
    display:none;
}

  
.settings_object{
    border:solid 1px;
    border-radius:10px;
    flex:auto;
    padding: 5px;
    margin: 2px 20px 2px 20px;
    text-align: center;
}

head{
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    touch-action: none;
}




#wrapper{
    width:100vw;
    height:100vh;
    
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

#canvas{
    position:absolute;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */

    font-smooth: never;
    -webkit-font-smoothing : none;
}

#filter{   
    position:absolute;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */

    font-smooth: never;
    -webkit-font-smoothing : none;
    mix-blend-mode: overlay;
}

#game{
    position:absolute;
    left:0;
    top:0;
    widows: 100%;
    height:100%;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

/*この・・/は上のディレクトリをさす*/

#filter{
    position: absolute;
    mix-blend-mode: overlay; /* オーバーレイを指定 */
    color: white;
    font-size: 150px;
    font-weight: bold;
    top: 200px;
    left: 30px;
    z-index:-10 ; 
}

#game .screen{
    position:absolute;
    width: 100%;
    height:100%;
    display:none;
    z-index:10 ; 
    /*z-indexってなんだろう？*/

}

#game .screen.active{
    display:block;
}

/*screenクラスのdivはdisplayプロパティにnoneをセット、画面をデフォで消して
表示したいときだけだせる、screenのクラスがactiveになるとdisplayプロパティは
blockになる。blockのつかいかたは？*/

/*.pixelated {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
  }*/